*.tar
*.tgz
*.tar.gz
data/*.txt
data/*.7z
data/*.tgz
data/*
backhash_data/*
bfsdegree_hash_data/*
degree_hash_data/*
gro_data/*.csv
gro_data/*.txt
hash_data/*
maxnode_hash_data/*
baselines/metis/*
metis-4.0.3/*
ordered_hash_data/*
ordered_data/*
sm_data/*.g
sm_data/*.l
sm_data/gro/*
onlyp2_hash_data/*
Experiment/objs/*
batch_hash_data/*
ExpO3/*
neo_data/*
part_data/*